.products {
display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  justify-content: center;
}


.product {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 200px;

}
.product h2{
  font-size: 1.2rem;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  color: #333;
  

}
.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.product img {
  width: 150px;
  height: 150px;
  object-fit: contain; 
  margin-bottom: 10px;
}
.product h2 {
  font-size: 1rem;
  margin-bottom: 5px;
}
.product h3 {
  color: #888;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.product p {
  color: #555;
  margin-bottom: 10px;
}